In [1]:
import pandas as pd
import numpy as np
#Creating Series from Array
arr = np.array(['P','a','n','d','a','s'])
a = pd.Series(arr)
print("Series from array:")
print(a)



#Series from dictionary
arr = {'x' : 0., 'y' : 1., 'z' : 2.}
b = pd.Series(arr)
print("\n\nSeries from dictionary:\n")
print (b)



#Series using scalar
x = pd.Series(4, index=[0, 1, 2, 3])
print("\nSeries using scalar\n")
print (x)

Series from array:
0    P
1    a
2    n
3    d
4    a
5    s
dtype: object


Series from dictionary:

x    0.0
y    1.0
z    2.0
dtype: float64

Series using scalar

0    4
1    4
2    4
3    4
dtype: int64

In [2]:
#Series through index
x = pd.Series([1,2,3],index = ['a','b','c'])
print("\nSeries through index:")
print (x)



a=pd.Series(data=[1,2,3,4])
print("\n a series:\n",a)

print("\nIndex: \n",a.index)

print("\nValues: \n",a.values)

print("\nShape: ",a.shape)

print("\nDimension: ",a.ndim)
print("\nSize: ",a.size)


#Empty DataFrame
df = pd.DataFrame()
print (df)



emp = pd.Series(['Parker', 'John', 'Smith',
'William'])
id =pd.Series([102, 107, 109, 114])
frame = { 'Emp': emp, 'ID': id }
result = pd.DataFrame(frame)
print("\nSeries to Data frame\n")
print(result)



print("\n Extracting one column :\n")
print(result['Emp'])

Series through index:
a    1
b    2
c    3
dtype: int64

 a series:
 0    1
1    2
2    3
3    4
dtype: int64

Index:
 RangeIndex(start=0, stop=4, step=1)

Values:
 [1 2 3 4]

Shape:  (4,)

Dimension:  1

Size:  4
Empty DataFrame
Columns: []
Index: []

Series to Data frame

       Emp   ID
0   Parker  102
1     John  107
2    Smith  109
3  William  114

 Extracting one column :

0     Parker
1       John
2      Smith
3    William
Name: Emp, dtype: object

In [7]:
print("\nExtracting the third row:\n")
print(result.loc[2])

Extracting the third row:

Emp    Smith
ID       109
Name: 2, dtype: object

In [ ]:
print("\nDeleting one column:\n")
del result['Age']
print(result)



print("\nDeleting particular
row:\n",result.drop(1))